<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="keywords" content="HTML, CSS" />
    <meta name="description" content="" />
    <title>Photo Gallery</title>
    <link rel="stylesheet" href="CSS/normalize.css">
    <link rel="stylesheet" href="CSS/styles.css">

</head>
<body>
    <div class="gallery">
        <img src="Images/egg.jfif" alt="">
        <img src="Images/estof.jfif" alt="">
        <img src="Images/fruit.jfif" alt="">        
        <img src="Images/grapes.jfif" alt="">
        <img src="Images/green.jfif" alt="">
        <img src="Images/onion.jfif" alt="">
        <img src="Images/other.jfif" alt="">
        <img src="Images/te.jfif" alt="">
        <img src="Images/vegetables.jfif" alt="">
    </div>
</body>
</html>